lombok.anyconstructor.addconstructorproperties = true
lombok.addNullAnnotations = jetbrains
lombok.addLombokGeneratedAnnotation = true
lombok.accessors.chain = true
lombok.builder.classname = Builder
lombok.fielddefaults.defaultprivate = true
lombok.equalsandhashcode.callsuper = CALL
lombok.copyableannotations += com.fasterxml.jackson.annotation.JsonIgnore
lombok.copyableannotations += com.google.gson.annotations.SerializedName
